


<center>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome <%= @name %></h1>
      <div class="scrolling-text">
        <p class="lead">The worst front page ever with the worst gossips ever !</p>
      </div>
    </div>
  </div>
</center>
